<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav"></nav>

<h1 th:text="${title}">Add A Travel Credit</h1>

<!--
<ul>
    <li th:each="credit : ${credits}" th:text="${credit}"></li>
</ul>
-->

<form method="post">
    Traveler Name:
    <input type="text" name="traveler" /><br />
    Airline:
    <input type="text" name="airline" /><br />
    Confirmation #:
    <input type="text" name="confNumber" /><br />
    Ticket #:
    <input type="text" name="ticketNumber" /><br />
    Purchase Date:
    <input type="text" name="purchDate" /><br />
    Cancellation Date:
    <input type="text" name="cancelDate" /><br />
    Expiration Date:
    <input type="text" name="expDate" /><br />
    Credit Amount:
    <input type="text" name="creditAmount" /><br />
    Notes:
    <input type="text" name="creditNotes" /><br />
    <input type="submit" value="Add Credit" />
</form>

</body>
</html>