<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav"></nav>

<h1 th:text="${title}">Add A Travel Credit</h1>

<form method="post" th:object="${credit}">
    <div>
        <label th:for="traveler">Traveler Name:</label>
        <input th:field="*{traveler}" /><br />
        <span th:errors="*{traveler}" class="error"></span>
    </div>
    <div>
        <label th:for="airline">Airline:</label>
        <input th:field="*{airline}" /><br />
        <span th:errors="*{airline}" class="error"></span>
    </div>
    <div>
        <label th:for="confirmationNumber">Confirmation #:</label>
        <input th:field="*{confirmationNumber}" /><br />
        <span th:errors="*{confirmationNumber}" class="error"></span>
    </div>
    <div>
        <label th:for="ticketNumber">Ticket #:</label>
        <input th:value="*{ticketNumber}" /><br />
        <span th:errors="*{ticketNumber}" class="error"></span>
    </div>
    <div>
        <label th:for="purchaseDate">Purchase Date:</label>
        <input th:field="*{purchaseDate}" /><br />
        <span th:errors="*{purchaseDate}" class="error"></span>
    </div>
    <div>
        <label th:for="cancelDate">Cancellation Date:</label>
        <input th:field="*{cancelDate}" /><br />
        <span th:errors="*{cancelDate}" class="error"></span>
    </div>
    <div>
        <label th:for="expirationDate">Expiration Date:</label>
        <input th:field="*{expirationDate}" /><br />
        <span th:errors="*{expirationDate}" class="error"></span>
    </div>
    <div>
        <label th:for="creditAmount">Credit Amount:</label>
        <input th:field="*{creditAmount}" /><br />
        <span th:errors="*{creditAmount}" class="error"></span>
    </div>
    <div>
        <label th:for="creditNotes">Notes:</label>
        <input th:field="*{creditNotes}" /><br />
        <span th:errors="*{creditNotes}" class="error"></span>
    </div>
        <input type="submit" value="Add Credit" />
</form>

</body>
</html>