<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav"></nav>

<h1 th:text="${title}">User Login</h1>

<p>Please <a href="/user/signup">sign up</a> if you do not already have an account.</p>


<form method="post">
    Email:
    <input type="email" name="email" /><br />
    Password:
    <input type="password" name="password" /><br />
    Confirm password:
    <input type="password" name="verifyPassword" /><br />
    <input type="submit" value="Sign in" />
</form>

<h3>This page does not have any functionality</h3>

</body>
</html>