<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav"></nav>

<h1 th:text="${title}">Signup</h1>

<p>Please <a href="/user/login">login</a> if you already have an account.</p>

<p th:text="${pw_error}"></p>

<form method="post" th:object="${user}">
    <div>
        <label th:for="email">Email:</label>
        <input th:field="*{email}" /><br />
        <span th:errors="*{email}" class="errors"></span>
    </div>
    <div>
        <label th:for="password">Password:</label>
        <input th:field="*{password}" type="password" /><br />
        <span th:errors="*{password}" class="errors"></span>
    </div>
    <div>
        <label th:for="verifyPassword">Confirm password:</label>
        <input th:field="*{verifyPassword}" type="password" />
        <span th:errors ="*{verifyPassword}" class="errors"></span>
    </div>
    <br />
    <input type="submit" value="Add User" />
</form>

</body>
</html>